.GitHeader{
      background: #24292e;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.Input{
    background: #e2e2e270;
    width: 40%;
    height: 25px;
    border: none;
    padding: 11px 19px;
}
.GitFetch{
    position: absolute;
    left: 38%;
    top: 17%;
    display: flex;
}
.button{
    box-shadow: 0px 0px 2px 0px #a79f9f80;
    color: #000;
    padding: 15px 30px;
    background: #fff;
    border: none;
    border-radius: 4px;
}
.repoList{
    width: 45%;
    height: 59%;
    background: #dadee8;
    position: absolute;
    bottom: 0;
    transform: translateX(50%);
    overflow-x: hidden;
    overflow-y: scroll;
}
.searchBox{
    margin: auto 30%;
}
.imageHandler{
    height: auto;
    padding: 0px 5px;
}
.OwnerImage{
    width: 6%;
}
.totalCount{
padding: 2px;
font-style: oblique;
}
.repoContainer{
    display: flex;
    border: 1px;
    border-width: 1px;
    border-color: #b5bbbf;
    border-style: solid;
}
.contentHandler{
    width:100%;
}
.searchResult{
    width: 50%;
    margin: auto;
    height: 7vh;
    background: #ffffff;
    box-shadow: 1px 1px 8px 0px #afaaaa;
}
.resultContainer{
    width: 39%;
    display: flex;
    border: 1px;
    border-width: 1px;
    border-color: #f7f7f700;
    border-style: solid;
    margin: auto;
}
.resultOwnerImage{
    width: 13%;
}